/* your styles go here */

.stiba-article td {
  padding: 5px 10px;
}
.stiba-article p {
  text-indent: 3em;
  margin-bottom: 1em;
  color: #808080;
}
.stiba-article li {
  color: #808080;
}
.box-masonry h4 {
  letter-spacing: initial;
}
.content-column.white-background {
  background-color: #fff4fd !important;
}
.stiba-gallery {
  width: 100%;
}
.sidebar-menu {
  margin-bottom: 100px;
}
