<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas" style="max-width: 360px;">
  <div class="sidebar-content" style="max-width: 360px;">
    <h1 class="sidebar-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    <div style="text-align: left; padding-right: 15px;">
      <img src="/img/avatar.jpg" style="margin: 0;">
    </div>
    {{ range .Site.Params.sidebarAbout }}
      <p class="sidebar-p">{{ . | safeHTML }}</p>
    {{ end }}
    <ul class="sidebar-menu">
      {{ range .Site.Params.navlinks }}
        <li><a href="{{ absURL .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ partial "social_buttons_in_sidebar.html" . }}

    <div class="copyright">
      <p class="credit">
        {{ partial "attribution.html" . }}
      </p>
    </div>
  </div>
</div>
